.cardRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}


.nowrap {
    flex-wrap: nowrap;
}


.cardColumn {
    display: flex;
    flex-direction: column;
}

.cardTitle {
    font-size: 15px;
}

.cardInfo {
    font-size: larger;
    font-weight: bold;
}

Card {
    color: #4CAF50;
    margin: 10px 5px;
}
